// Place all the styles related to the customer/chats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.chat-text {
  font-size: 20px;
}
.chat-font {
  font-size: 13px;
}

.chatview{
  // background-image: image-url('image3.jpg');
  &__title {
  }
  &__body {
    background-color: white;
    word-break: break-word;
  }

}