// Place all the styles related to the contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.contact{
  margin: 50px auto;
  width: 500px;
  height: 500px;
  border-radius: 500px;
  background-image: image-url('contact.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}