// Place all the styles related to the customer/customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.customer_session{
  margin: 0 auto;
  width: 900px;
  height: 700px;
  // border-radius: 100px;
  background-image: image-url('customer.session.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  .session_form {
    font-size: 18px;
    position: relative;
    width: 200px;
    left: 600px;
    top: 150px;
  }
}
.customer_registration{
  margin: 0 auto;
  padding-top: 70px;
  width: 650px;
  height: 800px;
  // border-radius: 100px;
  background-image: image-url('customer.registration.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  .form {
    font-weight: bold;
    margin-left: 10px;
    padding: 12px 40px 10px 0px;
    background-color: white;
    opacity: 0.6;
  }
}
#map {
  height: 550px;
  width: 700px;
}