// Place all the styles related to the customer/homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.top {
  margin: 0 auto;
  width: 650px;
  height: 500px;
  background-image: image-url('top.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.main-view{
  height: 500px;
  &__image1 {
    background-image: image-url('image1.jpg');
  }
  &__image2 {
    background-image: image-url('image2.jpg');
  }
  &__image3 {
    background-image: image-url('image3.jpg');
  }
  &__image4 {
    background-image: image-url('image4.jpg');
  }
}

.about {
  margin: 0 auto;
  width: 650px;
  height: 600px;
  background-image: image-url('about.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  &__text{
    background-color: rgba(255, 255, 255, 0.5)
  }
}
