<div class="container">
  <div class="row">
    <div class="col-4">
      検索画面作成
      <p>都道府県</p>
      <p>町村</p>
      <p>犬種</p>
      <p>検索</p>
    </div>
    <div class="col-8">
      <% if is_trimmer? %>
        <%= render 'customer/customers/trimmer-index', dog_owners: @dog_owners, requests: @requests, dogs: @dogs %>
      <% else %>
        <%= render 'customer/customers/dog_owner-index', trimmers: @trimmers %>
      <% end %>
    </div>
  </div>
</div>





