<div class="container about">
  <div class="row">
    <div class="col-12">
      <h1 class="text-center mb-5">
      </h1>
    </div>
    <div class="col-12 about-text">
      <h1 class="text-center">
        ToriDogについて
      </h1>
      <h4 class="text-center">
        飼い主とトリマーのマッチングアプリです<br>
        会員登録することで、マッチングすることが出来ます<br>
        愛犬のカットスタイルに合わせて最高のトリマーを見つけてみませんか？
      </h3>
    </div>
  </div>
</div>
