<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="text-center"><strong>ToriDog</strong></h1>
      <h4 class="text-center mb-3">愛犬におしゃれを</h3>
    </div>
    <div class="col-5">
      <div class="top"></div>
    </div>
    <div class="col-7">
      <div class="main-view">
        <div class="main-view__image1"></div>
        <div class="main-view__image2"></div>
        <div class="main-view__image3"></div>
        <div class="main-view__image4"></div>
      </div>
    </div>
  </div>
</div>

