<span class="<%= message.id %>">
  <div>
    <h7 class="dm_content"><strong><%= message.content %></strong></h7><br>
    <h7 class="dm_content"><%= message.sender %></h7>
    <h7 style="color: #C0C0C0;"><%= message.created_at..to_s(:datetime_jp_time) %></h7>
  </div>
</span><br>