<table id="follow" class="table">
  <tbody>
    <tr>
      <td style="width: 120px">
        フォロー
      </td>
      <td>
        <%= customer.followings.count %>
      </td>
    </tr>
    <tr>
      <td>
        フォロワー
      </td>
      <td>
        <%= customer.followers.count %>
      </td>
    </tr>
  </tbody>
</table>