<h1>Homes#top</h1>
<p>about説明文</p>

<p><%= link_to "トリマーログイン", new_torima_session_path %></p>
<p><%= link_to "トリマー新規登録", new_torima_registration_path %></p>
<p><%= link_to "飼い主ログイン", new_customer_session_path %></p>
<p><%= link_to "飼い主新規登録", new_customer_registration_path %></p>